<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <form action="/new" method="post">
      <input type="text" name="user" id="Username" placeholder="user name" />
      <input type="text" name="text" id="UserText" placeholder="some text.." />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
