h2 Enter the author name and text message!
<form method="POST" action="/new">
input(type="text", name="author" , placeholder = "Author Name") 
input(type="text", name="message" , placeholder = "Text message") 
button(type="submit") Submit
</form>

a(href = "/") Back to Main Page