<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>This is the message page</h1>
    <p>The user of this message is :--- <%= message.user %></p>
    <p>The text of this message is :--- <%= message.text %></p>
    <p>The Time of this message is :--- <%= message.added %></p>
  </body>
</html>
